<div class="container">
  <mat-card>
    <h1 class="text-center"> Registrese Aqui </h1>
    <form [formGroup]="registerForm">
      <div class="form-fields-container">
        <mat-form-field class="mid-width">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="Ingrese su nombre" formControlName="name">
          <mat-error *ngIf="registerForm.invalid">Nombre Invalido</mat-error>
        </mat-form-field>
        <div class="separator"></div>
        <mat-form-field class="mid-width">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" placeholder="Ingrese su apellido" formControlName="lastName">
          <mat-error *ngIf="registerForm.invalid">Apellido Invalido</mat-error>
        </mat-form-field>
      </div>
      <div class="form-fields-container">
        <mat-form-field class="mid-width">
          <mat-label>DNI</mat-label>
          <input matInput type="number" placeholder="Ingrese su DNI" formControlName="dni">
          <mat-error *ngIf="registerForm.invalid">DNI invalido</mat-error>
        </mat-form-field>
        <div class="separator"></div>
        <mat-form-field class="mid-width">
          <mat-label>Telefono</mat-label>
          <input matInput type="number" placeholder="Ingrese su telefono" formControlName="phoneNumber">
          <mat-error *ngIf="registerForm.invalid">Telefono Invalido</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="pat@example.com" formControlName="email">
        <mat-error *ngIf="registerForm.invalid">Correo Invalido</mat-error>
      </mat-form-field>

      <div class="text-center">
        <button *ngIf="registerForm.invalid" type="submit" mat-raised-button disabled>
          Registrarse
        </button>
        <button *ngIf="registerForm.valid" (click)="submit()" type="submit" mat-raised-button color="primary">
          Registrarse
        </button>
      </div>
    </form>
  </mat-card>
</div>
